:root {
	--mtg-red: #faaa8f;
	--mtg-blue: #a9e0f9;
	--mtg-white: #fffcd7;
	--mtg-black: #cdc1c1;
	--mtg-green: #9bd3ae;
	
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	margin:0;
	font-family: sans-serif;
}
#app {
	display:flex;
	flex-direction:column;
	height:100%;
	background-color:black;
}
.player {
	background-color:var(--mtg-blue);
	flex-grow:1;
	display:flex;
	flex-direction:column;
	max-height: 50%;
}
.player:first-of-type {
	background-color:var(--mtg-red);
	transform:rotate(180deg);
}
.lifecontrols{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	flex-grow: 1;
	padding-bottom: 50px;
}
.controls{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}
.player p {
	margin:0;
}
.life {
	font-size:150px;
}
.lifeIncrement{
	position: relative;
	width: 0;
	bottom: 30px;
	right: 60px;
	float: right;
	font-size: 50px;
}
.minus, .plus {
	font-size: 100px;
	cursor:pointer;
}
.settings {
	font-size: 50px;
	padding-right: 20px;
	/* width: 0; */
}
.colorpicker {
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
	padding-left: 10px;
	padding-right: 30px;
}
.colorCircle {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #bbb;
	border-radius: 50%;
	border-color: black;
	border-width: 5px;
	border-style: solid;
}